.clock-section {
	width: 100%;
	min-height: 620px;
	height: 87vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--theme-color);
}

.time-types {
	width: 600px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--transparent-w-1);
	color: var(--white);
	border-radius: 5em;
	padding: 0.3em;
}

.time-types li {
	border-radius: 5em;
	padding: 0.7em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.time-types li:first-of-type {
	background-color: var(--white);
	color: var(--theme-color);
	font-weight: 700;
}

.timer {
	font-family: "Noto Sans Mono", monospace;
	font-size: 13em;
	color: var(--white);
	margin: 0.1em 0;
}

.time-bar {
	width: 600px;
	height: 10px;
	background-color: var(--transparent-w-1);
	border-radius: var(--border-radius);
	margin: 1em 0 3em 0;
}

.time-bar div {
	width: 0;
	height: 100%;
	background-color: var(--transparent-w-5);
	border-radius: var(--border-radius);
}

.go-button {
	width: 70px;
	height: 70px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	transition: transform 3s;
}

.go-button img {
	width: 100%;
	height: 100%;
}

.go-button:active {
	transform: scale(0.5);
}
