@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("normalize.css");
@import url("settings.css");
@import url("header.css");
@import url("settings-container.css");
@import url("clock-section.css");
@import url("tasks-section.css");

body {
	background-color: #eee;
	font-family: var(--main-font-family);
}

.signature {
	font-family: monospace;
	color: #000;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em 0;
}

.signature a {
	color: #000;
	text-decoration: none;
}

.signature a:hover {
	text-decoration: underline;
}

body::-webkit-scrollbar-track {
	background-color: var(--theme-color);
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--transparent-w-3);
}

@media (max-width: 700px) {
	.settings-container {
		width: 90%;
	}
}

@media (max-width: 650px) {
	.current-task {
		font-size: 1.6em;
	}

	.timer {
		font-size: 10.4em;
	}

	.time-types,
	.go-button {
		width: 400px;
	}
}

@media (max-width: 550px) {
	.tasks-container,
	.add-task,
	.new-container {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.current-task {
		font-size: 1.2em;
	}

	.timer {
		font-size: 7.8em;
	}

	.time-types,
	.go-button {
		width: 300px;
	}

	.time-types {
		font-size: 0.8em;
	}
	.settings-container {
		height: 600px;
		grid-gap: 0.5em;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"title title title"
			"work work work"
			"short short short"
			"long long long"
			"aswork aswork aswork"
			"asbreak asbreak asbreak"
			"interval interval interval"
			"none cancel save";
	}
}
