.dark-bg {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.settings-container {
	width: 600px;
	height: fit-content;
	padding: 1.5em;
	border-radius: var(--border-radius);
	background-color: var(--white);
	display: grid;
	grid-gap: 1.5em 1em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.7fr repeat(4, 0.5fr) 0.7fr;
	grid-template-areas:
		"title title title"
		"work short long"
		"aswork aswork aswork"
		"asbreak asbreak asbreak"
		"interval interval interval"
		"none none save";
	position: relative;
}

.settings-container > p:first-of-type {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 1.5em;
	font-weight: 700;
	/* background-color: royalblue; */
}

.work-container {
	grid-area: work;
	/* background-color: salmon; */
}

.short-container {
	grid-area: short;
	/* background-color: greenyellow; */
}

.long-container {
	grid-area: long;
	/* background-color: blueviolet; */
}

.as-work-container {
	grid-area: aswork;
}

.as-break-container {
	grid-area: asbreak;
}

.as-work-container,
.as-break-container {
	position: relative;
}

.as-work-container input,
.as-break-container input {
	visibility: hidden;
}

.as-work-container input:checked + label,
.as-break-container input:checked + label {
	background-color: var(--theme-color);
}

.as-work-container label,
.as-break-container label {
	width: 20px;
	height: 20px;
	border: 2px solid var(--theme-color);
	position: absolute;
	right: 0;
	cursor: pointer;
}

.as-work-container label::after,
.as-break-container label::after {
	content: "";
	width: 10px;
	height: 5px;
	border-color: #fff;
	border-style: none none solid solid;
	position: absolute;
	top: 2.5px;
	left: 2px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.interval-container {
	grid-area: interval;
	/* background-color: aqua; */
}

.interval-container input {
	margin: 0;
	width: 50%;
}

.work-container,
.short-container,
.long-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.auto-inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.number-input {
	padding: 0.5em;
	background-color: #eee;
	border: 2px solid transparent;
	margin-top: 1em;
	width: 100%;
}

.number-input:focus {
	border: 2px solid var(--gray-1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.save-settings {
	border: none;
	cursor: pointer;
	font-weight: 700;
	border-radius: var(--border-radius);
	color: var(--white);
	background-color: var(--theme-color);
	grid-area: save;
}

.save-settings:hover {
	opacity: 0.95;
}

.x-cancel {
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	opacity: 1;
}

.x-cancel:hover {
	opacity: 0.8;
}
